# Initial Movie Data Exploration

Overview 

This project assess and analyze imporant indicators for the establishment of a successful Microsoft movie studio based on retrospective data derived from multiple sources.


Business problem 

Microsoft sees all the big companies creating original video content and they want to get in on the fun. 
They have decided to create a new movie studio, but they dont know anything about creating movies. 
You are charged with exploring what types of films are currently doing the best at the box office. 
You must then translate those findings into actionable insights that the head of Microsoft's new movie studio can use to help decide what type of films to create.


To anser major questions 

1- Profit- Revenue
2- Entertainment- Ratings
3- consistency/ top in the movie industry- movie type

Data Understanding

MDb is an online database of information related to movies. This databse contains detail information about a movie including the title ratings and basics. Data realted to revenue from each movie was generated uing the Boxofficie Mojo dataset.
For the creation of a successful movie studio by Microsoft, the follwing data results will be considered for business recommendations

1. What type of movies/genres/ have the highest ratigs?
varaibles: generes, ratings
method: bar cahrt 
  
2. What tye of movies have the highest doestic and foreign gross revenue?
 
 sort movies by ascending doesmtic revenue.
 
 variables:genres,domestic revenue
        
    
3. Does runtime in minutes affect the movie rating?
    corelation: rating- runtime 
    method used: scatter plot 
    
    Mergig tables to biring the column
     -Studio
     -Movie types/genres
     -Average ratings
     -Domestic revenue
     -runtime in minutes
     -year

In [31]:
import pandas as pd 
import matplotlib.pyplot as plt

In [20]:
!ls zippedData/

bom.movie_gross.csv.gz
imdb.name.basics.csv.gz
imdb.title.akas.csv.gz
imdb.title.basics.csv.gz
imdb.title.crew.csv.gz
imdb.title.principals.csv.gz
imdb.title.ratings.csv.gz
rt.movie_info.tsv.gz
rt.reviews.tsv.gz
tmdb.movies.csv.gz
tn.movie_budgets.csv.gz

In [21]:
bom=pd.read_csv('zippedData/bom.movie_gross.csv.gz')

In [141]:
bom.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [89]:
bom.domestic_gross.unique

<bound method Series.unique of 0       415000000.0
1       334200000.0
2       296000000.0
3       292600000.0
4       238700000.0
           ...
3382         6200.0
3383         4800.0
3384         2500.0
3385         2400.0
3386         1700.0
Name: domestic_gross, Length: 3387, dtype: float64>

In [143]:
bom.year.unique

<bound method Series.unique of 0       2010
1       2010
2       2010
3       2010
4       2010
        ...
3382    2018
3383    2018
3384    2018
3385    2018
3386    2018
Name: year, Length: 3387, dtype: int64>

In [22]:
bom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [43]:
bom.sort_values('domestic_gross', axis=0, ascending=True)

,title,studio,domestic_gross,foreign_gross,year
1476,Storage 24,Magn.,100.0,NaN,2013
2321,The Chambermaid,FM,300.0,NaN,2015
2756,News From Planet Mars,KL,300.0,NaN,2016
2757,Satanic,Magn.,300.0,NaN,2016
1018,Apartment 143,Magn.,400.0,426000,2012
...,...,...,...,...,...
1975,Surprise - Journey To The West,AR,NaN,49600000,2015
2392,Finding Mr. Right 2,CL,NaN,114700000,2016
2468,Solace,LGP,NaN,22400000,2016
2595,Viral,W/Dim.,NaN,552000,2016
2825,Secret Superstar,NaN,NaN,122000000,2017

In [118]:
tit_basics= pd.read_csv('zippedData/imdb.title.basics.csv.gz')

In [119]:
tit_basics

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [120]:
tit_basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [121]:
tit_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [122]:
tit_ratings= pd.read_csv('zippedData/imdb.title.ratings.csv.gz')

In [123]:
tit_ratings

           tconst  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

In [125]:
tit_ratings.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [128]:
tit_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         73856 non-null  object
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

In [133]:
Movie_Data1=pd.concat([tit_basics,tit_ratings])

In [134]:
Movie_Data1

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013.0,175.0,"Action,Crime,Drama",NaN,NaN
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019.0,114.0,"Biography,Drama",NaN,NaN
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018.0,122.0,Drama,NaN,NaN
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018.0,NaN,"Comedy,Drama",NaN,NaN
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017.0,80.0,"Comedy,Drama,Fantasy",NaN,NaN
...,...,...,...,...,...,...,...,...
73851,tt9805820,NaN,NaN,NaN,NaN,NaN,8.1,25.0
73852,tt9844256,NaN,NaN,NaN,NaN,NaN,7.5,24.0
73853,tt9851050,NaN,NaN,NaN,NaN,NaN,4.7,14.0
73854,tt9886934,NaN,NaN,NaN,NaN,NaN,7.0,5.0
73855,tt9894098,NaN,NaN,NaN,NaN,NaN,6.3,128.0

In [135]:
Movie_Data1.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013.0,175.0,"Action,Crime,Drama",NaN,NaN
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019.0,114.0,"Biography,Drama",NaN,NaN
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018.0,122.0,Drama,NaN,NaN
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018.0,NaN,"Comedy,Drama",NaN,NaN
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017.0,80.0,"Comedy,Drama,Fantasy",NaN,NaN

In [137]:
Movie_Data1.info

<bound method DataFrame.info of           tconst                    primary_title              original_title  \
0      tt0063540                        Sunghursh                   Sunghursh
1      tt0066787  One Day Before the Rainy Season             Ashad Ka Ek Din
2      tt0069049       The Other Side of the Wind  The Other Side of the Wind
3      tt0069204                  Sabse Bada Sukh             Sabse Bada Sukh
4      tt0100275         The Wandering Soap Opera       La Telenovela Errante
...          ...                              ...                         ...
73851  tt9805820                              NaN                         NaN
73852  tt9844256                              NaN                         NaN
73853  tt9851050                              NaN                         NaN
73854  tt9886934                              NaN                         NaN
73855  tt9894098                              NaN                         NaN

       start_year  runtime_minutes                genres  averagerating  \
0          2013.0            175.0    Action,Crime,Drama            NaN
1          2019.0            114.0       Biography,Drama            NaN
2          2018.0            122.0                 Drama            NaN
3          2018.0              NaN          Comedy,Drama            NaN
4          2017.0             80.0  Comedy,Drama,Fantasy            NaN
...           ...              ...                   ...            ...
73851         NaN              NaN                   NaN            8.1
73852         NaN              NaN                   NaN            7.5
73853         NaN              NaN                   NaN            4.7
73854         NaN              NaN                   NaN            7.0
73855         NaN              NaN                   NaN            6.3

       numvotes
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
...         ...
73851      25.0
73852      24.0
73853      14.0
73854       5.0
73855     128.0

[220000 rows x 8 columns]>

In [138]:
Movie_Data= pd.concat([bom,Movie_Data1])

In [111]:
Movie_Data

,title,studio,domestic_gross,foreign_gross,year,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
0,Toy Story 3,BV,415000000.0,652000000,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Inception,WB,292600000.0,535700000,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Shrek Forever After,P/DW,238700000.0,513900000,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146139,NaN,NaN,NaN,NaN,NaN,tt9916538,NaN,NaN,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019.0,123.0,Drama
146140,NaN,NaN,NaN,NaN,NaN,tt9916622,NaN,NaN,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015.0,NaN,Documentary
146141,NaN,NaN,NaN,NaN,NaN,tt9916706,NaN,NaN,Dankyavar Danka,Dankyavar Danka,2013.0,NaN,Comedy
146142,NaN,NaN,NaN,NaN,NaN,tt9916730,NaN,NaN,6 Gunn,6 Gunn,2017.0,116.0,NaN
146143,NaN,NaN,NaN,NaN,NaN,tt9916754,NaN,NaN,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013.0,NaN,Documentary

In [139]:
Movie_Data.head()

,title,studio,domestic_gross,foreign_gross,year,tconst,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,Toy Story 3,BV,415000000.0,652000000,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Inception,WB,292600000.0,535700000,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Shrek Forever After,P/DW,238700000.0,513900000,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
Movie_Data.info

<bound method DataFrame.info of                                              title studio  domestic_gross  \
0                                      Toy Story 3     BV     415000000.0
1                       Alice in Wonderland (2010)     BV     334200000.0
2      Harry Potter and the Deathly Hallows Part 1     WB     296000000.0
3                                        Inception     WB     292600000.0
4                              Shrek Forever After   P/DW     238700000.0
...                                            ...    ...             ...
73851                                          NaN    NaN             NaN
73852                                          NaN    NaN             NaN
73853                                          NaN    NaN             NaN
73854                                          NaN    NaN             NaN
73855                                          NaN    NaN             NaN

      foreign_gross    year     tconst primary_title original_title  \
0         652000000  2010.0        NaN           NaN            NaN
1         691300000  2010.0        NaN           NaN            NaN
2         664300000  2010.0        NaN           NaN            NaN
3         535700000  2010.0        NaN           NaN            NaN
4         513900000  2010.0        NaN           NaN            NaN
...             ...     ...        ...           ...            ...
73851           NaN     NaN  tt9805820           NaN            NaN
73852           NaN     NaN  tt9844256           NaN            NaN
73853           NaN     NaN  tt9851050           NaN            NaN
73854           NaN     NaN  tt9886934           NaN            NaN
73855           NaN     NaN  tt9894098           NaN            NaN

       start_year  runtime_minutes genres  averagerating  numvotes
0             NaN              NaN    NaN            NaN       NaN
1             NaN              NaN    NaN            NaN       NaN
2             NaN              NaN    NaN            NaN       NaN
3             NaN              NaN    NaN            NaN       NaN
4             NaN              NaN    NaN            NaN       NaN
...           ...              ...    ...            ...       ...
73851         NaN              NaN    NaN            8.1      25.0
73852         NaN              NaN    NaN            7.5      24.0
73853         NaN              NaN    NaN            4.7      14.0
73854         NaN              NaN    NaN            7.0       5.0
73855         NaN              NaN    NaN            6.3     128.0

[223387 rows x 13 columns]>

In [144]:
Movie_Data.sort_values('domestic_gross', axis=0, ascending=True)

,title,studio,domestic_gross,foreign_gross,year,tconst,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
1476,Storage 24,Magn.,100.0,NaN,2013.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2321,The Chambermaid,FM,300.0,NaN,2015.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2756,News From Planet Mars,KL,300.0,NaN,2016.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2757,Satanic,Magn.,300.0,NaN,2016.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1018,Apartment 143,Magn.,400.0,426000,2012.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
73851,NaN,NaN,NaN,NaN,NaN,tt9805820,NaN,NaN,NaN,NaN,NaN,8.1,25.0
73852,NaN,NaN,NaN,NaN,NaN,tt9844256,NaN,NaN,NaN,NaN,NaN,7.5,24.0
73853,NaN,NaN,NaN,NaN,NaN,tt9851050,NaN,NaN,NaN,NaN,NaN,4.7,14.0
73854,NaN,NaN,NaN,NaN,NaN,tt9886934,NaN,NaN,NaN,NaN,NaN,7.0,5.0
73855,NaN,NaN,NaN,NaN,NaN,tt9894098,NaN,NaN,NaN,NaN,NaN,6.3,128.0